/*
  It's ugly, but we don't want to @import tailwind here, as otherwise we end upduplicating tailwind classes. Instead
  we inline the annotations ourselves.
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-ring {
    text-shadow:
      -1px -1px 0 black,
      1px  -1px 0 black,
      -1px  1px 0 black,
      1px   1px 0 black;
  }

  .squircle {
    clip-path: url(#squircle)
  }

  .form-tick {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
  }
}
